body {
font-family: 'Noto Sans TC', sans-serif;
line-height: 2.5
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Noto Sans TC', sans-serif;
}

.subhesding {
	font-family: 'Noto Sans TC', sans-serif;
}

p.lead {
	line-height: 1.8;
	font-size: 20px;
}

.bg-primary {
    background-color: #726a95 !important;
    background-image: url("../assets/img/1003.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.text-primary {
    color: #726a95 !important;
}

a {
    color: #726a95;
    text-decoration: none;
    background-color: transparent;
}
#spc200 {
    font-size:200%;
}
